**/registerServiceWorker.js
**/bundle.js
.git
**/node_modules/**
**/bower_components/**
**/coverage/**
**/public/static**
**/build/**
**/static/**
**/manifest.json
**/precache-manifest.*.js
**/service-worker.js